<p>The question of the poll is…</p>
<h4> <%= @poll.prompt %> </h4>
<hr>
<%= for option <- @poll.options do %>
    <%= button(
      "#{option.text} (#{length(option.votes)} votes)",
      to: vote_path(@conn, :create, option_id: option, poll_id: @poll.id),
      method: :post,
      class: "vote-button"
    ) %>
<% end %>
