<h4>The question of the poll is…</h4>
<p>
  <%= @poll.prompt %>
</p>
<%= for option <- @poll.options do %>
  <div>
    <%= button(
      "#{option.text} : #{length(option.votes)}",
      to: poll_path(@conn, :show, @poll, option: option),
      method: :put
      ) %>
  </div>
<% end %>
